<!DOCTYPE html>
<html lang="en">
<head>
    <title>Access HTML Files</title>
</head>
<body>
    <%- include('common/header.ejs') %>
    <h1>Hello <%= user.name %> </h1>
    <h3>is This Your Email <%= user.email %> </h3>
   <ul> <% user.skill.forEach((item)=>{ %> 
       <li> <%= item %> </li>
        <% }) %>
    </ul>
    <%- include('common/footer.ejs') %>
</body>
</html> 